<fieldset>
    <div class="row" ng-controller="Ctrl">
        <div class="col-lg-12">
            <div class="row">
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Marital Status</label>
                    <div class="col-sm-10">
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Never Married </label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Widower </label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Divorced </label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.check8"> Awaiting Divorce </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="form-group" id="data_2" ng-controller="selectCtrl"><label class="col-sm-2 control-label">Children</label>

                    <div class="col-sm-10">
                        <ui-select ng-model="option.selected" theme="bootstrap">
                            <ui-select-match placeholder="Select or search a person">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="item in options | filter: $select.search">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div><div class="row">
            <div class="form-group" >
                <label class="col-sm-2 control-label">Willing Caste</label>
                <div class="col-sm-10">
                    <div><label> <input icheck type="radio" name="radioTest"
                                        ng-model="main.checkFour"> Same Caste </label></div>
                    <div><label> <input icheck type="radio" name="radioTest"
                                        ng-model="main.checkFour"> Any Caste </label></div>
                </div>
            </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="form-group" ><label class="col-sm-2 control-label">Present Address</label>

                    <div class="col-sm-10">
                        <input type="text"  ng-model="presenr" class="form-control" ng-autocomplete="result1" options="options1" details="details1"/>
                        <pre>vm.address = {{details1 | json}}</pre>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="form-group" data-ng-controller="selectCtrl"><label class="col-sm-2 control-label">City</label>

                    <div class="col-sm-10">
                        <input type="text" disabled="" ng-model="details1.administrative_area_level_2" placeholder="Disabled input here..." class="form-control">
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="form-group" data-ng-controller="selectCtrl"><label class="col-sm-2 control-label">State</label>

                    <div class="col-sm-10">
                        <input type="text" disabled="" ng-model="details1.administrative_area_level_1" placeholder="Disabled input here..." class="form-control">
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="form-group" data-ng-controller="selectCtrl"><label class="col-sm-2 control-label">Zip Code</label>

                    <div class="col-sm-10">
                        <input type="text" disabled="" ng-model="details1.postal_code" placeholder="Disabled input here..." class="form-control">
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>

        </div>
    </div>
    <a ui-sref="home.details.step_one" class="btn btn-default">Previous</a>
    <a ui-sref="home.details.step_two" class="btn btn-primary">Next</a>
</fieldset>