<fieldset>
    <div class="row" ng-controller="Ctrl">
        <div class="col-lg-12">
            <div class="row">
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Diet</label>
                    <div class="col-sm-10">
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Vegetarian</label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Non Vegetarian </label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Eggetarian </label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.check8"> Vegan</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="form-group" id="data_2" ng-controller="selectCtrl"><label class="col-sm-2 control-label">Smoking</label>

                    <div class="col-sm-10">
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> No</label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Occasionally</label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Yes</label></div>

                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="form-group" id="data_2" ng-controller="selectCtrl"><label class="col-sm-2 control-label">Drinking</label>

                    <div class="col-sm-10">
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> No</label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Occasionally</label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Yes</label></div>

                    </div>
                </div>
            </div>

            <div class="hr-line-dashed"></div>
        </div>
    </div>
    <a ui-sref="home.details.step_five" class="btn btn-default">Previous</a>
    <a ui-sref="home.details.step_seven" class="btn btn-primary">Next</a>
</fieldset>