<fieldset>
    <div class="row" ng-controller="Ctrl">
        <div class="col-lg-12">
            <div class="row">
                <div class="form-group" >
                    <label class="col-sm-2 control-label">Manglik</label>
                    <div class="col-sm-10">
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Yes</label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> No </label></div>
                        <div><label> <input icheck type="radio" name="radioTest"
                                            ng-model="main.checkFour"> Don't Know </label></div>
                    </div>
                </div>
            </div><div class="hr-line-dashed"></div>
            <div class="row">
                <div class="form-group" ng-controller="selectCtrl"><label class="col-sm-2 control-label">Moon Sign</label>

                    <div class="col-sm-10">
                        <ui-select ng-model="option.selected" theme="bootstrap">
                            <ui-select-match placeholder="Select or search a person">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="item in options | filter: $select.search">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        </div>
    </div>
    <a ui-sref="home.details.step_six" class="btn btn-default">Previous</a>
    <a ui-sref="home.details.step_four" class="btn btn-primary">Finish</a>
</fieldset>