<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="IndexCtrl">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" ng-src="{{'img/profile_small.jpg'}}"/>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{'Anup Macwan'}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{'Novice'}} <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li><a ui-sref="app.contacts">Contacts</a></li>
                        <li><a ui-sref="mailbox.inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="auth.logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    AMST
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="home.index"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Home'   }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="home.profile"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Profile'   }}</span></a>
            </li>
            <li ng-class="{active: $state.includes('dashboards')}">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Search'   }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active"><a ui-sref="home.search">{{ 'Search' }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="home.advanced-search">{{ 'Advanced Search' }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_3">{{ 'Keyword Search' }}</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('request')}">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Requests'   }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active"><a ui-sref="home.mobile-req">{{ 'Mobile Request' }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="home.advanced-search">{{ 'Interest Request' }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_3">{{ 'Image Request' }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>